@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* variable CSS */
:root {
    --header-height: 3.5rem;

    /* ====== colors ====== */
    /* color mode HSL(hue, saturation, lightness) */
    --black-color: hsl(220, 24%, 12%);
    --black-color-light: hsl(220, 24%, 15%);
    --black-color-lighten: hsl(220, 24%, 18%);
    --white-color: #fff;
    --body-color: hsl(220, 100%, 97%);

    /* ====== font & typography ====== */
    /* .5rem = 8px , 1rem = 16px */
    --body-font: "Montserrat", sans-serif;
    --normal-font-size: .938rem;

    /* ====== font weight ====== */
    --font-regular: 400;
    --font-semi-bold: 600;

    /* ====== z - index ====== */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* ====== responsive typography ====== */
@media screen and (min-width: 1024px) {
    :root {
        --normal-font-size: 1rem;
    }
}

/* base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

